@model IEnumerable<HRMSCrypto.Models.DepartmentViewModel>

@{
    ViewData["Title"] = "Index";

}

<h2>All departments</h2>

<hr />

<a class="btn btn-warning" asp-action="Create">
    Add new
</a>


<div>
    <br />
</div>

@using (Html.BeginForm("Index", "DepartmentViewModels", FormMethod.Get))
{

    <div class="input-group">
        <input id="searching" name="searching" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <div class="input-group-append">

            <select class="btn btn-outline-light" name="selected" id="selected">
                <option value="name">Name</option>
                <option value="location">Location</option>
            </select>
        </div>
    </div>
}

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
