@model IEnumerable<HRMSCrypto.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";

}

<h2>All employees</h2>

<hr />

<a class="btn btn-warning" asp-action="Create">
    Add new
</a>

<a class="btn btn-warning" asp-action="FormerEmployees">
    List of former employees
</a>

<a class="btn btn-warning" asp-action="ReportAll" target="_blank">
    Create report
</a>

<div>
    <br />
</div>

@using (Html.BeginForm("Index", "EmployeeViewModels", FormMethod.Get))
{

    <form class="form-inline md-form mr-auto mb-4">
        <input id="searching" name="searching" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">

    </form>

}


<hr />
<div class="card-deck">
    @foreach (var employee in Model)

    {
        var photoPath = "~/img/" + (employee.PhotoPath ?? "icona.png");
        <div class="card m-3">
            <div class="card-header">
                <h6 style="color: #283453;">@employee.Name @employee.LastName</h6>
                <h10>@employee.Job.Name, @employee.Department.Name</h10>
            </div>
            <img class="imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@employee.Id">Edit</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@employee.Id">Details</a> |
                <a class="btn btn-dark" asp-action="Resign" asp-route-id="@employee.Id">Resign</a>
            </div>
        </div>
    }
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
