@model IEnumerable<HRMSCrypto.Models.JobViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>All jobs</h2>

<hr />

<a class="btn btn-warning" asp-action="Create">
    Add new
</a>


<div>
    <br />
</div>


@using (Html.BeginForm("Index", "JobViewModels", FormMethod.Get))
{
    <form class="form-inline md-form mr-auto mb-4">
        <input id="searching" name="searching" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      
    </form>

}
<hr />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="btn btn-warning" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
